# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
config/osahealthmonitor-firebase-adminsdk-fbsvc-f42e920593.json

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage reports
coverage/

# Temporary files
*.tmp
*.swp